<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{/layout/template}">
<head>
    <meta charset="UTF-8">
    <title>ForgetPassword</title>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/resources/css/font-awesome.min.css}">

</head>
<body>
<div layout:fragment="content" >
    <div class="my-5 mx-4">

        <form th:action="@{/forgetPassword}" th:object="${account}" method="post" >

                <input type="text" class="form-control col-sm-6"  th:value="${email}"  placeholder="Enter Confirm Text" name="email">

                <div class="form-group">
                    <label class="form-check-label">name</label>

                    <input type="text" class="form-control col-sm-6" th:field="*{username}"  placeholder="Enter you name" name="name">
                </div>
                <div class="form-group">
                    <label class="form-check-label">birthday</label>

                    <input type="date" class="form-control col-sm-6" th:field="*{birthday}"  placeholder="yyyy-MM-dd" name="birthday">
                </div>

                <div>
                    <button class="btn btn-success">Next</button>
                </div>
        </form>
    </div>
<!--        <div class="navbar navbar-expand-lg  mb-5 ">-->
<!--            <div class="container ">-->
<!--                <div class="navbar-brand  text-primary float-right">-->
<!--                    <i class=" fa fa-home"></i> school-->
<!--                    <i class="fa fa-phone"></i> phone-->
<!--                    <i class="fa fa-address-card"></i> address-->
<!--                </div>-->
<!--                <div class="navbar-nav ">-->
<!--                    <span class="nav-link nav-item fa fa-2x fa-facebook "></span>-->
<!--                    <span class="nav-link nav-item fa fa-2x fa-youtube "></span>-->
<!--                    <span class="nav-link nav-item fa fa-2x fa-instagram "></span>-->
<!--                    <span class="nav-link nav-item fa fa-2x fa-info-circle"></span>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->

</div>

<script th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/popper.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
</body>
</html>

</body>
</html>