<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/template}">
<head>
    <meta charset="UTF-8">
    <title>Restart</title>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/resources/css/font-awesome.min.css}">
    <style>
        .icon{
            float: right;
            margin-left: -25px;
            margin-top: -25px;
            position: relative;
            z-index: 2;
        }
    </style>
</head>
<body>
<div layout:fragment="content" >
    <div class="my-5 mx-4" >

        <form th:action="@{/restartPassword}" th:object="${restartaccount}" method="post" >
            <input type="hidden" th:field="*{id}">

            <div class="form-group">
                <label class="form-check-label">  New Password</label>

                <div class="col-md-6">
                    <input id="input" name="password" type="password" class="form-control "
                            placeholder="Enter New Password"><span class="fa fa-eye-slash icon" id="eye"></span>
                </div>
            </div>
            <div>
                <button class="btn btn-success">Change Password</button>
            </div>
        </form>
    </div>
<!--    <div class="navbar navbar-expand-lg  mb-5 ">-->
<!--        <div class="container ">-->
<!--            <div class="navbar-brand  text-primary float-right">-->
<!--                <i class=" fa fa-home"></i> school-->
<!--                <i class="fa fa-phone"></i> phone-->
<!--                <i class="fa fa-address-card"></i> address-->
<!--            </div>-->
<!--            <div class="navbar-nav ">-->
<!--                <span class="nav-link nav-item fa fa-2x fa-facebook "></span>-->
<!--                <span class="nav-link nav-item fa fa-2x fa-youtube "></span>-->
<!--                <span class="nav-link nav-item fa fa-2x fa-instagram "></span>-->
<!--                <span class="nav-link nav-item fa fa-2x fa-info-circle"></span>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->

</div>

<script th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/popper.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
</body>
</html>

</body>
</html>